/*Global Custom Properties*/
:root{
  --background-color: whitesmoke; /*background color for the entire page*/
  --body-font: 'Roboto', sans-serif; /*primary font used for body text, etc.*/
  --body-color: dimgray; /*color for body text, etc.*/
  --title-font: 'Montserrat', sans-serif; /*secondary font used for headers, title, etc.*/
  --title-color: black; /*color for title font, etc.*/
  --link-color: steelblue; /*color for links, special attention, etc.*/
  --highlight-color: springgreen; /*rollover color for navbar*/
  font-size:62.5%; /*sets base font size; rest of font units scale from this*/
}
html{
  background-color:var(--background-color); /*set background color for the whole page*/
}
h1{
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
  text-align:center;
}
h2{
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 2rem;
  line-height:1rem;
  text-align:center;
}
p,label{
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding:2px;
  margin:0px;
  text-align:justify;
}
form{
  text-align:center;
  margin:auto;
}
input[type=text],input[type=number],input[type=date]{
  background-color:var(--highlight-color);
  border:0;
  margin: 0;
  padding:2px;
  max-width:auto;
  width:12rem;
  font:inherit;
  color:inherit;
  display: inline-block;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
select{
   background-color:var(--highlight-color);
  border:0;
  margin: 0;
  padding:2px;
  font:inherit;
  color:inherit; 
}
option{
  background-color:var(--highlight-color);
  border:0;
  margin: 0;
  padding:2px;
  max-width:auto;
  width:4rem;
  font:inherit;
  color:inherit;
}
input[type=submit]{
  background-color: var(--body-color);
  color: var(--background-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding:6px;
  margin:auto;
  text-align:justify;
  border:0;
}
input[type=submit]:hover{
  background-color: silver;
  color: var(--title-color);
}
.wrapper{
  margin: auto;
  width: calc(75vw);
  min-width: 945px;
}
.form-row{
  display: flex;
  padding: 4px 4px;
  justify-content: center;
}
.form-column{
  /*flex: 50%;*/
  width:auto;
  max-width: 100%;
  padding: 4px 4px;
}